<!DOCTYPE html>
<html lang = "en">
<head>

        <meta charset = "UTF-8">
        <meta name = "viewport" content="width=device-width, initial-sclae=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <title> Test Email Handlebars</title>
        <style>
            h1{color: red}
            h3{color:slategray}
        </style>
</head>
<body>

    <h1>This is h1 HTML</h1>
    <h3> This is h3 HTML</h3>
</body>

</html>